/.idea
/corpora/wired_it_20190821
/target
/corpora/wired_it_20190821.json
/src/main/python/.ipynb_checkpoints
/src/main/python/*.csv
/src/main/python/1/*.csv
/corpora/wired_it_20190821_preprocessed_lucene
/corpora/wired_it_20190821_preprocessed_lucene_terms.json
/corpora/wired_it_20190821_preprocessed
/corpora/wired_it_20190821_segmented_preprocessed
/corpora/wired_it_20190821_segmented
/corpora/wired_it_20190821_onehotecnoded_tsvs.tar.bz2
/corpora/wired_it_20190821_onehotecnoded_tsvs/dev.tsv
/corpora/wired_it_20190821_onehotecnoded_tsvs/test.tsv
/corpora/wired_it_20190821_onehotecnoded_tsvs/train.tsv
/corpora/wired_it_20190821_preprocessed_test.libsvm
/corpora/wired_it_20190821_preprocessed_training.libsvm
/corpora/wired_it_20190821_segmented_preprocessed_training_bert.txt
/corpora/wired_it_20190821_segmented_preprocessed_training_bert.txt.bz2
